# Függőségek
node_modules/
.pnpm-store/

# Build kimenet
dist/
dist-ssr/
*.local

# IDE (VS Code, WebStorm) beállítások
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logok
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Környezeti változók (titkos kulcsok)
.env
.env.local
.env.*.local

# Operációs rendszer fájlok
Thumbs.db
.DS_Store